@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --primary: #3980F3;
    --text: #000000;
    --background: #ffffff;
}

:root {
    --h1: 1.5em;
    --title: 0.9em;
    --sub: 0.7em;
    --normal: 0.4em;
    --small: 0.2em;
}

* {
    padding:0;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
    transition: 0s linear;
    font-size: min(calc(1em + 0.8vh + 0.1vw), 8vh);
}

html, body {
    overflow: hidden;
    height: 100%;
}

main {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

/* Header */
.header {
    align-items: center;
    width:100vw;
    height:100vh;
    /* background-image: url("rss/header-bg.png"); */
    background-color: #FFFFFF;
    background-size: 100vw 100vh;
    /* padding: 120px; */
    padding: 2em calc(2em + 0.1vw);
    box-sizing: border-box;
    scroll-snap-align: start;
    /* align-items: center; */
}

.header .wrapper {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.header .logo {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 2.5em;
    /* background-color: red; */
}

.header .logo .icon {
    object-fit: cover;
    height: var(--h1);
}

.header .logo .name {
    font-size: var(--h1);
    font-weight: bold;
    color: var(--primary)
}

.header .container {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.header .container .show{
    transform: translateX(0%) !important;
    opacity: 1 !important;
}

.header .container .hide{
    transform: translateX(-50%) !important;
    opacity: 0 !important;
}

.header .container .card {
    transform: translateX(50%);
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    padding: 0 0em;
    box-sizing: border-box;
    width: 100%;
    transition: transform 1s, opacity 1s;
}


.header .container .card .title {
    font-weight: bold;
    font-size: var(--sub);
}

.header .container .card .img {
    height: 3em;
    width: 100%;
    object-fit: contain;
    /* width: 420px;
    height: 315px; */
}

.header .container .card .desc {
    /* background-color: aqua; */
    text-align: center;
    font-size: var(--normal) !important;
    margin: 0 max(calc(20vw - 20vh + 10%), 10%);
}

/* Body */

.video-part {
    align-items: center;
    width:100vw;
    height:100vh;
    background-image: url("rss/video-bg.png");
    background-size: 100vw 100vh;
    padding: 5vh 14vw;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.video-part .video {
    background-color: #285AAA;
    border-radius: 50px;
    overflow:hidden;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    box-sizing: border-box;
}

.video-part .wrapper {
    /* background-color: red; */
    overflow: hidden;
    border-radius: 50px;
    width: 100%;
    height: 100%;
}

.video-part .video-container {
    /* background-color: aqua; */
    position: relative;
    /* padding: 50%;
    box-sizing: border-box; */
    /* padding-bottom: 100%; */
    /* padding-top: 25px; */
    /* width: 300%;  */
    width: 100%;
    height: 100%;
    left: 0%;
}

.video-part iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.video-part .subs {
    width: 100%;
    padding-left: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    gap: 20px;
    color: #ffffff;
    align-items: center;
}

.video-part .subs .text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 63px;
    /* background-color: red; */
    color: #FFFFFF; 
}

.video-part .subs .text2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    /* background-color: red; */

    color: #FFFFFF;
}
