@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.debug {
    background-color: red !important;
}

:root {
    --primary: #3980F3;
    --text: #000000;
    --background: #ffffff;
}

:root {
    --h1: 1.5em;
    --title: 0.9em;
    --sub: 0.7em;
    --normal: 0.4em;
    --small: 0.2em;
}

b {
    font-size: 1em;
    font-weight: 800;
}

* {
    position: relative;
    padding:0;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
    transition: 0s linear;
    /* font-size: min(calc(1em + 0.8vh + 0.1vw), 8vh); */
    /* font-size: min(calc(1em + 0.8vh), 8vh); */
    font-size: min(calc(1rem + 4vh), 8vh);
    /* font-size: calc(1em + 0.8vh); kalo atas error di some version firefox */
}

html, body {
    overflow: hidden;
    height: 100%;
}

main {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.section {
    align-items: center;
    width:100vw;
    height:100vh;
    box-sizing: border-box;
    scroll-snap-align: start;
    padding: 1em calc(1em + 0.1vw);
    display: flex;
    justify-content: center;
}

.show-anim .updown {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 1em;
    height: 1em;
    transform: translate(-50%, 0) rotate(180deg);
    transition: transform 0.5s;
}

.show-anim .down {
    transform: translate(-50%, -150%) rotate(180deg) !important;
}

.updown {
    background-image: url("rss/slide-up.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    z-index: 1;
}

.moving {
    opacity: 1;
}

/* Header */
.header {
    background-color: var(--background);
}

.header .wrapper {
    /* background-color: red; */
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap: 0.5em;
    width: min(100vh, 80vw);
    height: 100%;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 2.5em;
}

.header .logo .icon {
    object-fit: cover;
    height: var(--h1);
}

.header .logo .name {
    font-size: var(--h1);
    font-weight: bold;
    color: var(--primary)
}

.header .container {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.header .container .show{
    transform: translateX(0%) !important;
    opacity: 1 !important;
}

.header .container .hide{
    transform: translateX(-50%) !important;
    opacity: 0 !important;
}

.header .container .card {
    transform: translateX(50%);
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    padding: 0 0em;
    box-sizing: border-box;
    width: 100%;
    transition: transform 1s, opacity 1s;
}


.header .container .card .title {
    font-weight: bold;
    font-size: var(--sub);
}

.header .container .card .img {
    height: 3em;
    width: 100%;
    object-fit: contain;
    /* width: 420px;
    height: 315px; */
}

.header .container .card .desc {
    /* background-color: aqua; */
    text-align: center;
    font-size: var(--normal) !important;
    margin: 0 max(calc(20vw - 20vh + 10%), 10%);
}

/* Body */

.video-part {
    background-color: var(--background);
}

.video-part .wrapper {
    background-color: #285AAA;
    border-radius: var(--title);
    overflow:hidden;
    width: min(100vh, 80vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: var(--sub);
    box-sizing: border-box;
    gap: 0.3em;
}

.video-part .player {
    border-radius: var(--normal);
    width: 100%; 
    height: 100%;
}


.video-part .subs {
    width: 100%;
    padding-left: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    gap: 20px;
    color: #ffffff;
    align-items: center;
}

.video-part .subs .text {
    font-weight: 700;
    font-size: var(--sub);
    height: 100%; 
    line-height: 1.2em;
    vertical-align: middle;
    display: flex;
    align-items: center;
}


.video-part .subs .line {
    background-color: #ffffff;
    width: 0.07em;
    height: var(--sub);
}


.video-part .subs .text2 {
    font-weight: 600;
    font-size: var(--normal);
    height: 100%;
    line-height: 1.2em;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    vertical-align: bottom;
    display: flex;
    align-items: center;
}

/* Theme */
.section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--small)
}

.section .text .title {
    font-size: calc(var(--sub) * 5 / 6);
}

.section .text .desc {
    font-size: 0.4em;
    text-align: justify;
}

.section .text .blue-desc {
    margin-top: 2em;
    font-size: 0.45em;
    color: #1C51A5;
    text-align: center;
}

.section .text .desc2 {
    font-size: 0.35em;
    text-align: justify;
    line-height: 1.25em;
}

/* Nutshell + Cast */
.nutcast .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 0.5em;
    width: 90vw;
    height: 100%;
}

.nutcast .text {
    height: 40%;
    text-align: center;
}

.nutcast .text .desc {
    text-align: center !important;
    padding: 0 4em;
}

.nutcast .cast {
    height: calc(30vw + 1em);
}

.nutcast .cast .container {
    position: relative;
    width: 100%;
    height: 25vw;
    overflow: hidden;
}

/* .nutcast .container .show{
    transform: translateX(0%) !important;
    opacity: 1 !important;
}

.nutcast .container .hide{
    transform: translateX(-50%) !important;
    opacity: 0 !important;
} */

.nutcast .container .card {
    background: linear-gradient(180deg, #6099F6 0%, #001942 100%);
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    border-radius: 0.3em;
}

.nutcast .container .card .name {
    font-size: 0.5em;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color:white;
}

.nutcast .container .card-wrapper:nth-child(2) .card {
    left: 15%;
    transform: translateX(-50%) scale(0.7);
    z-index: 1;
    filter: blur(0.05em) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.nutcast .container .card-wrapper:nth-child(3) .card  {
    left: 30%;
    transform: translateX(-50%) scale(0.85);
    z-index: 2;
    filter: blur(0.025em) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.nutcast .container .card-wrapper:nth-child(4) .card  {
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: 3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.nutcast .container .card-wrapper:nth-child(5) .card {
    left: 70%;
    transform: translateX(-50%) scale(0.85);
    z-index: 2;
    filter: blur(0.025em) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.nutcast .container .card-wrapper:nth-child(6) .card {
    left: 85%;
    transform: translateX(-50%) scale(0.7);
    z-index: 1;
    filter: blur(0.05em) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.nutcast .container .card-wrapper:nth-child(7) .card {
    left: 100%;
    transform: translateX(-50%) scale(0.5);
    z-index: 0;
    filter: blur(0.05em) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;
}

.nutcast .container .card-wrapper:nth-child(1) .card {
    left: 0%;
    transform: translateX(-50%) scale(0.5);
    z-index: 0;
    filter: blur(0.1em) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;    
    transition: 1s;
}

.nutcast .container .card-wrapper .card {
    left: -50%;
    transform: translateX(-50%) scale(0.5);
    z-index: 0;
    filter: blur(0.1em) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;    
    transition: 1s;
}


/* .nutcast .container .card {
    transform: translateX(50%);
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    padding: 0 0em;
    box-sizing: border-box;
    width: 100%;
    transition: transform 1s, opacity 1s;
} */


.nutcast .container .card .title {
    font-weight: bold;
    font-size: var(--sub);
}

.nutcast .container .card .img {
    height: 3em;
    width: 100%;
    object-fit: contain;
    /* width: 420px;
    height: 315px; */
}

/* Outline */
.outline .wrapper {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    /* align-items: center; */
    gap: 1.5em;
    width: min(100vh, 80vw);
    height: 100%;
}

.outline .image {
    position: relative;
    height: 50%;
    width: 100%;
    /* background: blue; */
}

.outline .image .anim > * {
    position: absolute;
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30%;
    height: 100%;
    top: 0;
    left: 50%;
    /* background: blue; */
}

.outline .image .left {
    background-image: url(rss/outline-left.png);
    transform: translate(-150%, 0);
    background-position: right;
}

.outline .image .center {
    background-image: url(rss/outline-center.png);
    height: 130%;
    width: 130%;
}

.outline .image .right {
    background-image: url(rss/outline-right.png);
    transform: translate(50%, 0);
    background-position: left;
    
}

.outline .text {
    height: 50%;
    text-align: center;
}

.outline .text .title {
    font-size: var(--sub);
}

.outline .text .desc {
    margin-top: 0.2em;
    font-size: 0.35em;
    text-align: center !important;
}

/* Introduction */
.introduction .wrapper {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    gap: var(--normal)
}

.introduction .image {
    position: relative;
    height: 100%;
    width: 35%;
    transform: translateX(3vw) scale(1.2);
}

.introduction .image .anim > * {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14vw;
    height: 9vw;
    left: 50%;
    /* background-color: red; */
    /* background: blue; */
}

.introduction .image .top {
    background-image: url(rss/intro-top.png);
    top: calc(50% - 16vw);
    transform: translate(-69%, 0%);
    background-position: bottom;
}

.introduction .image .center {
    transform: translate(-60%, -50%);
    top: calc(50% + 5vw);
    background-image: url(rss/intro-center.png);
    width: 30vw;
    height: 30vw;
}

.introduction .image .bottom {
    background-image: url(rss/intro-bottom.png);
    top: calc(50% + 4vw);
    transform: translate(-69%, 0%);
    background-position: top;
    
}

.introduction .text {
    width: 60%;
}

.introduction .text .image-vivaldi {
    width: 100%;
    height: 30%;
    margin-top: var(--small);
    background-image: url("rss/vivaldi.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Conflict */
.conflict .wrapper {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    gap: var(--normal)
}

.conflict .image {
    position: relative;
    height: 100%;
    width: 35%;
    transform: translateX(3vw) scale(1.25);
}

.conflict .image .anim > * {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20vw;
    height: 9vw;
    left: 50%;
    /* background-color: red; */
    /* background: blue; */
}

.conflict .image .top {
    background-image: url(rss/conflict-up.png);
    top: calc(50% - 14vw);
    transform: translate(-56%, 0%);
    background-position: bottom;
}

.conflict .image .center {
    transform: translate(-60%, -50%);
    top: calc(40% + 5vw);
    background-image: url(rss/conflict-center.png);
    width: 30vw;
    height: 30vw;
}

.conflict .image .bottom {
    background-image: url(rss/conflict-bottom.png);
    top: calc(50% + 6vw);
    transform: translate(-84%, 0%);
    background-position: top;
    
}

.conflict .text {
    width: 60%;
}

.conflict .text * {
    text-align: end !important;
}

/* Promotion */
.promotional .wrapper {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    gap: var(--normal)
}

.promotional .image {
    position: relative;
    height: 100%;
    width: 35%;
    transform: translateX(3vw) scale(1.25);
}

.promotional .image .anim > * {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14vw;
    height: 9vw;
    left: 50%;
    /* background-color: red; */
    /* background: blue; */
}

.promotional .image .top {
    background-image: url(rss/promotion-up.png);
    top: calc(50% - 16vw);
    transform: translate(-69%, 0%);
    background-position: bottom;
}

.promotional .image .center {
    transform: translate(-65%, -50%);
    top: calc(50% + 2vw);
    background-image: url(rss/promotion-center.png);
    width: 30vw;
    height: 30vw;
}

.promotional .image .bottom {
    background-image: url(rss/promotion-bottom.png);
    top: calc(50% + 4vw);
    transform: translate(-69%, 0%);
    background-position: top;
}

.promotional .text {
    width: 60%;
}

.topmost {
    z-index: 99 !important;
}
